<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/public/**" security="none"/>
	<http auto-config="true">
		<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/**" access="ROLE_USER" />
		
		<form-login login-page="/login" default-target-url="/" authentication-failure-url="/loginfailed" />
		<logout logout-success-url="/logout" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="sha" />
			<jdbc-user-service data-source-ref="dataSource"

				users-by-username-query="SELECT USERNAME, PASSWORD, ENABLED FROM USERS WHERE USERNAME = ?"

				authorities-by-username-query="SELECT u.USERNAME, ur.AUTHORITY 
												FROM USERS u
												INNER JOIN USER_ROLES ur
												ON u.ID = ur.USER_ID 
												WHERE u.ID = ur.USER_ID AND u.USERNAME = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>
